// Variables

// Restate Bootstrap Variables

$white:    #fff !default;
$dark-gray: #373b3f !default;
$light-gray: #74777a !default;
$black:    #000 !default;

$primary:       $dark-gray !default;
$secondary:     $light-gray !default;

// Page Variables

$sidebar-base-width: 17rem;
